<div class="col-md-8">
    <!-- <div class="text-center"> -->
    <form novalidate [formGroup]="roomForm" (ngSubmit)="onSubmit()">
        <legend><strong>Upload Room Details</strong></legend>
        <fieldset>
            <div class="form-group">
                <input type="text" placeholder="Room Name" class="form-control" formControlName="roomName">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Description" class="form-control" formControlName="description">
            </div>

            <div class="form-group">
                <input type="file" (change)="onFileChange($event)"/>
            </div>
        </fieldset>
        <button type="submit" [disabled]="roomForm.invalid || roomForm.prestine" class="btn btn-primary">Submit</button>
    </form>
    <!-- </div> -->
</div>