
<div class="login-page">
  <div class="form">
    <img src="https://reg.psu.ac.th/regstudentsearchpsu/Images/LogoPSU2018.png" alt="image" width="120">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text" formControlName="username" placeholder="username"/>
      <input type="password" formControlName="password" placeholder="password"/>
      <button type="submit" [disabled]="loginForm.invalid || loginForm.prestine">login</button>
    </form>
  </div>
</div>
